<!DOCTYPE html>
<html>
		<h1>Please Make Your Search</h1>
	<body>
		

		Look Up a Product
		<form method="post" action="get_info">
			<input type="text" name="upc" placeholder="Look up a Product">
			<input type="submit" value="Find">
		</form>

	</body>
</html>