<!DOCTYPE html>
<html>
		<h1>Your Results</h1>
	<body>
		
		<%= product_info %>

		<form method="post" action="return_home">
			<input type="submit" value="Search Again">
		</form>

	</body>
</html>