<!DOCTYPE html>
<style>
.large_img {
	width: 19.5%;
}
@media (max-width: 1024px) {
	.large_img {
		width: 45%;
	}
}
</style>
<html>

	<%if error != '' %>
		<h1>ERROR</h1>

		<%=error%>

		<form method="post" action="return_home">
			<input type="submit" value="Search Again">
		</form>
	<%else%>


		<h1><%=product_title%></h1>
		<h2><%=product_price%></h2>
	<body>

		
		<% large_photos_array.each do |url| %>
			<img class="large_img" src=<%=url%>>
		<%end%>


		<form method="post" action="return_home">
			<input type="submit" value="Search Again">
		</form>

	</body>
	<%end%>
</html>