<!DOCTYPE html>
<style>
.large_img {
	width: 19.5%;
}
.submitBtn {
	width: 12vw;
    height: 3vw;
	font-size: 1.5vw;
}
@media (max-width: 1024px) {
	.large_img {
		width: 45%;
	}
	.submitBtn {
		width: 33vw;
		height: 7vw;
		font-size: 4vw;
	}
}
</style>
<html>
<center>
	<%if error != '' %>
		<h1>ERROR</h1>

		<%=error%>

		<form method="post" action="return_home">
			<input type="submit" value="Search Again">
		</form>
	<%else%>


		<h1><%=product_title%></h1>
		<h2><%=product_price%></h2>
	<body>

		
		<% large_photos_array.each do |url| %>
			<img class="large_img" src=<%=url%>>
		<%end%>


		<form method="post" action="return_home">
			<input class="submitBtn" type="submit" value="Search Again">
		</form>

	</body>
	<%end%>
	</center>
</html>